:root {
  --bg-color: #121f3d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
  color: aliceblue;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
}

.header--list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
}

.header--button {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 1px solid gray;
  color: aliceblue;
}

main {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(25%);
}

.hero {
  text-align: center;
  width: 600px;
  margin: auto;
}

.hero--title {
  font-size: 2.8rem;
}

.hero--time {
  font-size: 2.4rem;
}

.hero--time .measure {
  font-size: 1.2rem;
  position: relative;
  margin-bottom: 28px;
}

.measure--hour {
  position: absolute;
  left: calc(40%);
}

.measure--minute {
  position: absolute;
  left: calc(45%);
}

.measure--second {
  position: absolute;
  left: calc(51.5%);
}

.button {
  cursor: pointer;
}

.hero--buttons {
  position: relative;
  display: flex;
  width: 200px;
  margin: 18px auto 0;
  justify-content: space-evenly;
}

.hero--button {
  font-size: 1.8rem;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  margin-right: 20px;
}

.hero--button:hover {
  background-color: #ffbe0b;
}

.fa-solid {
  vertical-align: middle;
}

.timerForm {
  position: absolute;
  left: calc(42.6%);
  top: calc(-34%);
  display: grid;
  grid-template-areas:
    "minutes seconds btn"
    "minInput secInput btn";
  align-items: center;
  align-content: center;
  column-gap: 12px;;
}

.minutes--input {
  grid-area: minutes;
}

#minutesInput {
  grid-area: minInput;
  text-align: center;
  width: 40px;
}

.seconds--input {
  grid-area: seconds;
}

#secondsInput {
  grid-area: secInput;
  text-align: center;
  width: 40px;
}

.gears-button {
  grid-area: btn;
  font-size: 1.2rem;
  font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
